<div class="container">
    <h2>Car Searching</h2>
    <form #form="ngForm"
          (submit)="search()">
      <div class="form-group">
        <label for="car">Model</label>
        <input class="form-control form-control-lg"
               [(ngModel)]="this.searchDto.model"
               name="model">
      </div>
      <div class="form-group">
        <label for="car">Capacity</label>
        <input class="form-control"
               [(ngModel)]="this.searchDto.capacity"
               name="capacity">
      </div>
      <div class="form-group">
        <label for="car">Min. Price</label>
        <input class="form-control"
               [(ngModel)]="this.searchDto.minPrice"
               name="minPrice">
      </div>
      <div class="form-group">
        <label for="car">Max. Price</label>
        <input class="form-control"
               [(ngModel)]="this.searchDto.maxPrice"
               name="maxPrice">
      </div>
      <div class="form-group">
        <label for="car">Color</label>
        <input class="form-control"
               [(ngModel)]="this.searchDto.color"
               name="color">
      </div>
      <div class="form-group">
        <label for="car">Location</label>
        <input class="form-control"
               [(ngModel)]="this.searchDto.location"
               name="location">
      </div>
      <button type="submit"
              class="btn btn-primary">Search
      </button>
    </form>
  
  </div>

<h2 *ngIf="cars">Games</h2>
<div class="car container">
  <div class="row">
    <a *ngFor="let car of cars"
       routerLink="/car/{{car.id}}"
       class="col-sm-12 col-md-3">
      <div class="game-block">
        <h1 calss="model">{{car.model}}</h1>
        <h2 class="color">{{car.color}}</h2>
        <h3 class="price">{{car.pricePerHour | currency}}</h3>
      </div>
    </a>
  </div>
</div>
  